body 
    margin: 0px

.Menu_container
    display: flex
    flex-direction: row
    margin: 0px
    align-items: center
    background-color: #2ad90e
    height: 60px
    width: 100%

.Menu_theme
    display: flex
    background-color: black
    color: white
    border-style: none
    margin: 10px

.Menu_options-container
    display: flex
    flex-direction: row
    align-items: center

.Menu_signout-button
    display: flex
    margin: 10px

.Menu_signup-link
    display :flex
    margin: 10px

.Menu_login-link
    display :flex
    margin: 10px