.Home_container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 0px
    background-color: rgb(255, 222, 222)
    

.Home_items
    display: flex
    flex-flow: row wrap
    margin: 10px
    justify-content: center
    width: 1500px
    padding: 20px
    background-color: white
    border-radius: 15px

.Home_item
    display: flex
    flex-direction: column
    margin: 30px
    height: 300px
    width: 250px
    background-color: #c67070
    align-items: flex-start
    padding: 10px
    border-radius: 15px


.Home_item-info
    display: flex
    flex-direction: column


.Home_image
    display: flex 
    width: 250px
    height: 200px
    border-radius: 15px

.Home_name
    display: flex
    font-weight: bolder
    font-size: 25px
    
.Home_price
    display: flex
    font-size: 30px

.Home_quantity-container
    display: flex
    flex-direction: row
    justify-content: flex-end
    width: 250px