.Home_container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 0px

.Home_items
    display: flex
    flex-flow: row wrap
    margin: 10px
    justify-content: center
    width: 1500px

.Home_item
    display: flex
    flex-direction: column
    margin: 30px
    height: 200px
    width: 200px

.Home_image
    display: flex 
    width: 150px
    height: 150px
    margin:20