.UserHome_container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 0px
    background-color: #FFCFF3;

.UserHome_items
    display: flex
    flex-flow: row wrap
    margin: 10px
    justify-content: center
    width: 1500px
    padding: 20px
    background-color: white
    border-radius: 15px

.UserHome_item
    display: flex
    flex-direction: column
    margin: 30px
    height: 300px
    width: 250px
    background-color: #8a0168
    align-items: flex-start
    padding: 10px
    border-radius: 15px
    color: white

.UserHome_item-info
    display: flex
    flex-direction: column


.UserHome_image
    display: flex 
    width: 250px
    height: 200px
    border-radius: 15px

.UserHome_name
    display: flex
    font-weight: bolder
    font-size: 25px
    color: white 
    
.UserHome_price
    display: flex
    font-size: 30px

.UserHome_quantity-container
    display: flex
    flex-direction: row
    justify-content: flex-end
    width: 250px